keras~=2.2.5
tensorflow~=1.15.2
numpy
h5py
matplotlib
toml
docopt
setuptools_scm
sphinx
sphinx-rtd-theme
sphinx-autoapi
twine
numpydoc
natsort
pydocstyle
pydot
graphviz
pygments
pytest
pytest-cov
pytest-flake8
pytest-pylint
pytest-watch
yapf